/* You can add global styles to this file, and also import other style files */
body{
  background-color: black;
  margin: 0;
  padding: 0;
}
*{
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
  color: black
}

li{
  list-style: none;
}

.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  padding: 1rem;
  border: 1px solid white;
  grid-auto-flow: dense;

}
.col{
  border: 1px solid white;
  margin: 1rem;
  &.two{
    grid-column: span 2;
  }
}
